header.header
  .container
    .header__block
      a.header__logo(href='/') ViteApp

      nav
        ul.header__nav
          li
            a(href='/') Главная
          li
            a(href='/') О нас

      button.header__toggle(aria-label='Открыть меню')
        span
        span
        span
