extends ../layout/base

//- Include mixins
include ../mixins/picture

block variables
  - var title = 'Главная';
  - var description = '';
  //- - var pageCss = 'index';
  //- - var pageJs = ['pages/home/often'];
  //- - var blocks = [];
  //- - var currentPage = 'index';
  //- - var libsJs = ['swiper.min'];
  //- - var libsCss = ['swiper'];

block content
  //- include ../blocks/home/first
